@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: Regular;
  src: url(./assets/fonts/chirp-regular-web.woff);
}

@font-face {
  font-family: Chirp;
  src: url(./assets/fonts/chirp-bold-web.woff);
}

body {
  font-family: Regular, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Chirp, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
